[Desktop Entry]
Name=Initial Setup
Name[hu]=Első Beállítás
Name[pt]=Ajustes Iniciais
Icon=com.system76.CosmicInitialSetup
Exec=cosmic-initial-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=COSMIC;System
OnlyShowIn=COSMIC
NoDisplay=true
X-GNOME-HiddenUnderSystemd=@systemd_hidden@
StartupWMClass=com.system76.CosmicInitialSetup
